@model MicroPay.Web.Models.DependentViewModel
@using Nafed.MicroPay.Common

<table id="tblGrid" class="table table-centered table-striped dt-responsive w-100">
    <thead>
        <tr>
            <th>
                #
            </th>

            <th>
                Employee
            </th>

            <th>
                Dependent Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Relation
            </th>
            <th>
                Handicapped
            </th>
            <th>
                PF Nominee
            </th>
            <th>
                (%)
            </th>


        </tr>
    </thead>
    <tbody>
        @{
            if (Model.listDependent != null && Model.listDependent.Count() > 0)
            {
                var sno = 1;
                foreach (var item in Model.listDependent)
                {
                    <tr>
                        <td> @sno</td>

                        <td> @item.EmpCode <text> - @item.Employee</text> </td>

                        @*<td> @item.DependentCode</td>*@
                        <td> @item.DependentName</td>
                        <td> @(item.Gender != null ? item.Gender : "NA")</td>
                        <td> @(item.DOB.HasValue ? item.DOB.Value.ToString("dd/MM/yyyy") : "NA")</td>
                        <td> @(item.Relation != null ? item.Relation : "NA")</td>
                        <td> @ExtensionMethods.BoolToYesNo(@item.Handicapped)</td>
                        <td> @ExtensionMethods.BoolToYesNo(@item.PFNominee)</td>
                        <td> @(item.PFDistribution == null ? 0 : item.PFDistribution)</td>

                       

                    </tr>

                    sno++;
                }
            }

        }

    </tbody>
</table>

