@model Nafed.MicroPay.Model.Division
@{
    ViewBag.Title = "Create Division";
    ViewBag.NavigationTitle = "Division";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card_new_header alert alert-danger">
    <div class="col-sm-6">
        NOTE : Fields marked with (*) are compulsory fields
    </div>
    <div class="col-sm-6 text-right">
        <b>@*[ Characters < > # ^ ; | $ are not allowed ]*@</b>
    </div>
</div>
@using (Html.BeginForm("Create", "Division", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="card_new_body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-2">

                <div class="row">
                    @Html.LabelFor(model => model.DivisionCode, htmlAttributes: new { @class = "control-label col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2 required" })

                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 mb-2">
                        @Html.EditorFor(model => model.DivisionCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Division Code", @maxlength = "3" } })
                        @Html.ValidationMessageFor(model => model.DivisionCode, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("DivisionCodeAlreadyExist", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.DivisionName, htmlAttributes: new { @class = "control-label col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2 required" })
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 mb-2">
                        @Html.EditorFor(model => model.DivisionName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Division Name", @maxlength = "50" } })
                        @Html.ValidationMessageFor(model => model.DivisionName, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("CadreNameAlreadyExist", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="divider-chevron"></div>
                <span class="pull-right">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light btn-sm toggle-tooltip", @title = "Click here, to redirect on list page" })
                    <input type="submit" value="Create" class="btn btn-info btn-sm pull-center toggle-tooltip" title="Click here, to save current record" />
                </span>
            </div>
        </div>

    </div>
}

@section scripts{
    @*<script type="text/javascript">
        $(document).ready(function () {
            $(":text").keyup(function () {
                var yourInput = $(this).val();
                re = /[`~!#$%^&*()_|+\- =?;:'",.<>\{\}\[\]\\\/]/gi;
                var isSplChar = re.test(yourInput);
                if (isSplChar) {
                    var no_spl_char = yourInput.replace(/[`~!#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
                    $(this).val(no_spl_char);
                }
            });
        });
    </script>*@
}