
@model MicroPay.Web.Models.LoanSlabViewModel


<table id="tblGrid" class="table table-centered table-striped dt-responsive w-100">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Slab No.
            </th>
            <th>
                Loan Type
            </th>
            <th>
                Effective Date
            </th>
           
            <th class="text-right">
                Amount
            </th>

            <th class="text-right">
                Rate Of Interest
            </th>
            @if (Model.userRights.Edit)
            {
                <th class="text-center" style="width:60px">
                    Edit
                </th>
            }
            @if (Model.userRights.Delete)
            {
                <th class="text-center" style="width:60px">
                    Delete
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.LoanSlabList != null && Model.LoanSlabList.Count() > 0)
            {
                var sno = 1;
                foreach (var item in Model.LoanSlabList)
                {
                    <tr>
                        <td> @sno</td>
                        <td> @item.SlabNo</td>
                    @*@switch (item.LoanTypeId)
    {
        case "1":
            <td>House Loan</td>
            break;

        case "2":
            <td>Car Loan </td>
            break;
        case "3":
            <td>Paersoal Loan</td>
            break;

        default:
            <td></td>
            break;
        }*@
                        <td>
                            @item.LoanDesc
                        </td>
                    
                            <td> @item.EffectiveDate.ToString("dd-MM-yyyy")</td>                           
                            <td class="text-right"> @string.Format("{0:F2}", @item.AmountOfSlab)</td>
                            <td class="text-right">@string.Format("{0:F2}", @item.RateOfInterest)</td>
                            @if (Model.userRights.Edit)
                            {
                                <td class="text-center">
                                    @*<a href="@Url.Action("Edit", "LoanSlab", new { slabNo = item.SlabNo })" title="Click here, to edit this record" data-toggle="tooltip">
                                        <i class="far fa-edit text-info" aria-hidden="true"></i>
                                    </a>*@
                                    @Html.EncodedImageActionLink("", "Edit", "LoanSlab", new { slabNo = item.SlabNo }, new { @class = "toggle-tooltip", title = "Click here, to edit this record" }, "~/Images/edit.png")
                                </td>
                            }
                            @if (Model.userRights.Delete)
                            {
                                <td class="text-center">
                                    @*<a data-toggle="confirm" class="toggle-tooltip" href="@Url.Action("Delete", "LoanSlab", new { slabNo = item.SlabNo,loanType=item.LoanType,effectiveDate=item.EffectiveDate })" title="Click here, to delete this record">
                                        <span class="far fa-trash-alt text-danger" aria-hidden="true"></span>
                                    </a>*@
                                    @Html.EncodedImageActionLink("", "Delete", "LoanSlab", new { slabNo = item.SlabNo, loanType = item.LoanType, effectiveDate = item.EffectiveDate }, new { @class = "toggle-tooltip", title = "Click here, to delete this record" }, "~/Images/delete.png", true)
                                </td>
                            }
                        </tr>

                    sno++;
                }
            }

        }

    </tbody>
</table>
