

@using Nafed.MicroPay.Model
@model List<DeductionSubSection>

<table id="tblGrid" class="table table-centered table-striped dt-responsive w-100">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Section
            </th>
            <th>
                Sub Section
            </th>
            <th class="text-center" style="width:40px">
                Edit
            </th>
            <th class="text-center" style="width:40px">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Count() > 0)
            {
                var sno = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td> @sno</td>
                        <td> @item.SectionName</td>
                        <td> @item.SubSectionName</td>

                        <td class="text-center">

                            <a data-ajax="true" class="toggle-tooltip"
                               href="@Url.Action("_EditSubSection", "TaxDeductionSection",
                                        new { sectionID = item.SectionID , subSectionID= item.SubSectionID })"
                               method="GET" title="Click here, to edit this record"
                               data-ajax-update="#div-sub-section-form" data-ajax-mode="replace"
                               data-backdrop="static" data-keyboard="false">
                                <i class="far fa-edit text-info" aria-hidden="true"></i>
                            </a>


                            @*<a href="@Url.Action("EditSection", "TaxDeductionSection", new { sectionID = item.SectionID })" title="Click here, to edit this record" data-toggle="tooltip">
                                    <i class="far fa-edit text-info" aria-hidden="true"></i>
                                </a>*@
                        </td>

                        <td class="text-center">
                            @*<a data-toggle="confirm" class="toggle-tooltip" href="@Url.Action("DeleteSubSection", "TaxDeductionSection",new { sectionID = item.SectionID , subSectionID= item.SubSectionID  })" title="Click here, to delete this record">
                                <span class="far fa-trash-alt text-danger" aria-hidden="true"></span>
                            </a>*@
                            @Html.EncodedImageActionLink("", "DeleteSubSection", "TaxDeductionSection", new { sectionID = item.SectionID, subSectionID = item.SubSectionID }, new { @class = "toggle-tooltip", title = "Click here, to delete this record" }, "~/Images/delete.png", true)
                        </td>

                    </tr>

                    sno++;
                }
            }

        }

    </tbody>
</table>
