@model Nafed.MicroPay.Model.CCA
@{
    ViewBag.Title = "Create CCA Rates";
    ViewBag.NavigationTitle = "CCA Rates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card_new_header alert alert-danger">
    <div class="col-sm-6">
        NOTE : Fields marked with (*) are compulsory fields
    </div>
    <div class="col-sm-6 text-right">
        <b>@*[ Characters < > # ^ ; | $ are not allowed ]*@</b>
    </div>
</div>
@using (Html.BeginForm("Create", "CCA", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="card_new_body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-2">

                <div class="row">

                    @Html.LabelFor(model => model.UpperLimit, htmlAttributes: new { @class = "control-label col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2 required" })
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 mb-2">
                        @Html.EditorFor(model => model.UpperLimit, new { htmlAttributes = new { @class = "form-control text-right", @type = "number" } })
                        @Html.ValidationMessageFor(model => model.UpperLimit, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row control-label col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2">
                    <b>Amount City Grade</b>
                </div>
                <div class="row">

                    @Html.LabelFor(model => model.AmtCityGradeA1, htmlAttributes: new { @class = "control-label col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2 required" })
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 mb-2">
                        @Html.EditorFor(model => model.AmtCityGradeA1, new { htmlAttributes = new { @class = "form-control text-right", @type = "number" } })
                        @Html.ValidationMessageFor(model => model.AmtCityGradeA1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">

                    @Html.LabelFor(model => model.AmtCityGradeA, htmlAttributes: new { @class = "control-label col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2 required" })
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 mb-2">
                        @Html.EditorFor(model => model.AmtCityGradeA, new { htmlAttributes = new { @class = "form-control text-right", @type = "number" } })
                        @Html.ValidationMessageFor(model => model.AmtCityGradeA, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">

                    @Html.LabelFor(model => model.AmtCityGradeB1, htmlAttributes: new { @class = "control-label col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2 required" })
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 mb-2">
                        @Html.EditorFor(model => model.AmtCityGradeB1, new { htmlAttributes = new { @class = "form-control text-right", @type = "number" } })
                        @Html.ValidationMessageFor(model => model.AmtCityGradeB1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">

                    @Html.LabelFor(model => model.AmtCityGradeB2, htmlAttributes: new { @class = "control-label col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2 required" })
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 mb-2">
                        @Html.EditorFor(model => model.AmtCityGradeB2, new { htmlAttributes = new { @class = "form-control text-right", @type = "number" } })
                        @Html.ValidationMessageFor(model => model.AmtCityGradeB2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="divider-chevron"></div>
                <span class="pull-right">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light btn-sm toggle-tooltip", @title = "Click here, to redirect on list page" })
                    <input type="submit" value="Create" class="btn btn-info btn-sm pull-center toggle-tooltip" title="Click here, to save current record" />
                </span>
            </div>
        </div>

    </div>
}