@model Nafed.MicroPay.Model.AssetType
@{
    ViewBag.Title = "Edit Asset Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card_new_header alert alert-danger">
    <div class="col-sm-6">
        NOTE : Fields marked with (*) are compulsory fields
    </div>
    <div class="col-sm-6 text-right">
        <b>@*[ Characters < > # ^ ; | $ are not allowed ]*@</b>
    </div>
</div>
@using (Html.BeginForm("Edit", "AssetType", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.AssetTypeID);
    <div class="card_new_body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-2">               
                <div class="row">
                    @Html.LabelFor(model => model.AssetTypeName, htmlAttributes: new { @class = "control-label col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2" })
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 mb-2">
                        @Html.EditorFor(model => model.AssetTypeName, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Asset Type", @maxlength = "50"} })
                        @Html.ValidationMessageFor(model => model.AssetTypeName, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("AssetTypeAlreadyExist", "", new { @class = "text-danger" })
                    </div>
                </div>
                              
                <div class="divider-chevron"></div>
                <span class="pull-right">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light btn-md toggle-tooltip", @title = "Click here, to redirect on list page" })
                    <input type="submit" value="Update" class="btn btn-info btn-md pull-center toggle-tooltip" title="Click here, to update current record" />
                </span>
            </div>
        </div>

    </div>

}

