@model MicroPay.Web.Models.SectionViewModel


<table id="tblGrid" class="table table-centered table-striped dt-responsive w-100">
    <thead>
        <tr>
            <th>
                Section Code
            </th>
            <th>
                Section Name
            </th>
            @if (Model.userRights.Edit)
            {
                <th class="text-center" style="width:60px">
                    Edit
                </th>
            }
            @if (Model.userRights.Delete)
            {
                <th class="text-center" style="width:60px">
                    Delete
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.listSection != null && Model.listSection.Count() > 0)
            {
                foreach (var item in Model.listSection)
                {
                    <tr>
                        <td> @item.SectionCode</td>
                        <td> @item.SectionName</td>
                        @if (Model.userRights.Edit)
                        {
                            <td class="text-center">
                                @*<a href="@Url.Action("Edit", "Section", new { SectionID = item.SectionID })" title="Click here, to edit this record" data-toggle = "tooltip">
                                    <i class="far fa-trash-alt text-danger" aria-hidden="true"></i>
                                </a>*@
                                @Html.EncodedImageActionLink("", "Edit", "Section", new { SectionID = item.SectionID }, new { @class = "toggle-tooltip", title = "Click here, to edit this record" }, "~/Images/edit.png")
                            </td>
                        }
                        @if (Model.userRights.Delete)
                        {
                            <td class="text-center">
                                @*<a data-toggle="confirm" class="toggle-tooltip" href="@Url.Action("Delete", "Section", new { SectionID = item.SectionID })" title="Click here, to delete this record">
                                    <span class="far fa-trash-alt text-danger" aria-hidden="true"></span>
                                </a>*@
                                @Html.EncodedImageActionLink("", "Delete", "Section", new { SectionID = item.SectionID }, new { @class = "toggle-tooltip", title = "Click here, to delete this record" }, "~/Images/delete.png", true)
                            </td>
                        }
                    </tr>
                }
            }

        }

    </tbody>
</table>

