@using Nafed.MicroPay.Model
@using MicroPay.Web.Models
@model NonRefunPFLoanDataViewModel
@{
    ViewBag.Title = "Non-Refundable PF Loan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Globalization.CultureInfo Indian = new System.Globalization.CultureInfo("hi-IN");

}


@using (Ajax.BeginForm("NonRefundablePFLoanGridView", "NonRefundablePFLoan", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "PRGridDiv" }, new { defaultbutton = "submitform" }))
{
  
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">

            <input type="submit" name="ButtonType" value="Request for Non Refundable PF Loan" id="btnNRPFLOAN" class="btn btn-primary btn-md pull-right">


        </div>
  
}
<div>


    
      
    
<div class="card_new_body">
        <div id="PRGridDiv">
            @Html.Action("NonRefundablePFLoanGridView")
        </div>
    </div>
  
</div>



<script>
    $(document).ready(function () {

        $('#ddlBranchList1').val(@ViewBag.BranchID);
        BindEmployeeOnBranchLoad(@ViewBag.BranchID);
        if(@ViewBag.ReportingTo==1)
        {
            $('#ddldisplayType').prop("disabled", false);
        }
        else
        {
            $('#ddldisplayType').prop("disabled", true);
        }

    });

    function BindEmployeeOnBranchLoad(branchId) {
        if (branchId > 0) {
            jQuery.post("@Url.Action("GetBranchEmployee", "NonRefundablePFLoan")", {
                branchID: branchId,
            }).done(function (data) {

                if (data.employees != "") {
                    $("#ddlEmployee").html("");
                    $.each(data.employees, function (key, value) {
                        $("#ddlEmployee").append($("<option></option>").val(value.Value).html(value.Text));
                    });
                }

                if(@ViewBag.UserID==1)
                {
                    $('#ddlBranchList1').prop("disabled", false);
                    $('#ddlEmployee').prop("disabled", false);
                }
                else
                {
                    $('#ddlEmployee').val(@ViewBag.EmployeeID);
                    $('#ddlBranchList1').prop("disabled", true);
                    $('#ddlEmployee').prop("disabled", true);
                }

            });
        }
    }
</script>