@using Nafed.MicroPay.Model
@model List<SupportGroup>
<table id="tblGrid" class="table table-centered table-striped dt-responsive w-100">
    <thead>
        <tr>
            <th style="width:20px">
                #
            </th>
            <th style="width:20%">
                Name
            </th>
            <th>
                Description
            </th>           
            <th class="text-center" style="width:60px">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Count > 0)
            {
                var sno = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td> @sno</td>
                        <td> @item.name</td>
                        <td> @item.description</td>                       

                        <td class="text-center">
                            @*<a href="@Url.Action("Edit", "Group", new { supportGroupID = @item.ID })" title="Click here, to edit this record">
                                <span class="far fa-edit text-info" aria-hidden="true"></span>
                            </a>*@ 
                            @Html.EncodedImageActionLink("", "Edit", "Group", new { supportGroupID = @item.ID }, new { @class = "toggle-tooltip", title = "Click here, to edit this record" }, "~/Images/edit.png") |

                            @*<a data-toggle="confirm" class="toggle-tooltip" href="@Url.Action("Delete", "Group", new { supportGroupID = @item.ID })" title="Click here, to delete this record">
                                <span class="far fa-trash-alt text-danger" aria-hidden="true"></span>
                            </a>*@
                            @Html.EncodedImageActionLink("", "Delete", "Group", new { supportGroupID = @item.ID }, new { @class = "toggle-tooltip", title = "Click here, to delete this record" }, "~/Images/delete.png", true)
                        </td>

                    </tr>
                    sno++;
                }
            }

        }

    </tbody>
</table>
