@{

    Layout = null;
}
<script type="text/javascript">

    function onSuccess(data) {

        $("#branchRequired").text('');
        if (data.fileName == "" || data.fileName == undefined) {
            $("#branchRequired").text('Please select branch.');
        }
        if (data.fileName != "" && data.message == "success") {

            window.location.href = "@Url.RouteUrl(new { Controller = "Base", Action = "DownloadAndDelete" })/?sFileName=" + data.fileName + "&sFileFullPath=" + data.fullPath;
        }
    }

    function onBegin() {
        $('#waitLoading').modal('hide');
    }
</script>

@using (Ajax.BeginForm("_ExportTemplate", "ImportEmpAttendance", new AjaxOptions { HttpMethod = "POST", OnBegin = "onBegin", OnSuccess = "onSuccess", LoadingElementId = "waitLoading" }))
{

    @Html.Hidden("BranchID")
    @Html.Hidden("EmployeeTypeId")
    
    <div class="row" id="exportDIV">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="form-group">
                @Html.Label("Branch", htmlAttributes: new { @class = "required font-weight-bold" })
                @Html.DropDownList("ddlBranch", (IEnumerable<SelectListItem>)ViewBag.Branch, new { @class = "custom-select" })
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="form-group">
                @Html.Label("Employee Type", htmlAttributes: new { @class = "font-weight-bold" })
                @Html.DropDownList("ddlEmployeeType", (IEnumerable<SelectListItem>)ViewBag.ddlEmployeeType, new { @class = "custom-select" })
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="form-group">
                @Html.Label("Date", htmlAttributes: new { @class = "required font-weight-bold" })
                @Html.Editor("date", new { htmlAttributes = new { @class = "form-control", @type = "date", @required=true} })


            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-lg-4 mt-md-4 pt-lg-2">
            <div class="form-group">
                <button type="submit" id="submitform" class="btn btn-warning pull-center toggle-tooltip" title="Click here, to download the template.">
                    <i class="fa fa-file-excel"></i> Export Template
                </button>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
            @Html.ValidationMessage("BranchRequired", "", new { @class = "text-danger", @id = "branchRequired" })
        </div>
    </div>
}
