
<div class="advance-search" style="">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-1 pt-2 form-inline align-middle">
        <i class="fa fa-search fa-2x" style="color:#d4d4d4;" aria-hidden="true"></i><h4 class="desc" style="color:#0bb70b;">
            @Html.Label("Search")
        </h4>
    </div>

    <hr style="background-color:#fff !important;">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-secondary pr-0">
                    <i class="fas fa-filter"></i> Filter By :
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    @Html.Label("From Date", htmlAttributes: new { @class = "" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    @Html.Editor("FromDate", new { htmlAttributes = new { @class = "form-control", @placeholder = "From Date", @type = "date", min = DateTime.Now.AddDays(-30).ToString("yyyy-MM-dd"), max = DateTime.Now.ToString("yyyy-MM-dd") } })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    @Html.Label("To Date", htmlAttributes: new { @class = "" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    @Html.Editor("ToDate", new { htmlAttributes = new { @class = "form-control", @placeholder = "To Date", @type = "date", min = DateTime.Now.AddDays(-30).ToString("yyyy-MM-dd"), max = DateTime.Now.ToString("yyyy-MM-dd") } })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pt-2">
                    <button type="submit" id="submitform" value="Search" title="Click here, to search records" class="btn btn-warning toggle-tooltip">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
