@using Nafed.MicroPay.Model;
@using MicroPay.Web.Models
@*@model ApprovalRequestVM*@
@{
    ViewBag.Title = "Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";


    bool DeviceTypeIsMobile = false;
    if (Session["User"] != null)
    {
        var uDetail = (UserDetail)Session["User"];
        DeviceTypeIsMobile = uDetail.DeviceTypeIsMobile;
    }
}


<div class="mb-2">
    <div class="tab" role="tabpanel">
        <nav class="navbar navbar-expand-md  navbar-dark px-0">
            <!-- Brand -->
            <a class="navbar-brand d-xl-none d-md-none" href="#">Approval Menu</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler bg-info" type="button" data-toggle="collapse" data-target="#collapsible_tab">
                <span class="fa fa-bars"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsible_tab" style="position: relative;z-index: 999;">
                <ul class="nav nav-tabs text-center" role="tablist" id="tabs">

                    <li class="nav-item " role="presentation">
                        <a class="nav-link toggle-tooltip active" data-toggle="tab" role="tab" title="Attendance Approval Request" href="#div-attendance">

                            <span id="attendanceCount" class="badge badge-teal p-1">0</span> <br />
                            Attendance


                        </a>

                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="Leave Approval Request" href="#div-leave">
                            <span id="leaveCount" class="badge badge-teal p-1">0</span> <br /> Leave

                        </a>
                    </li>

                    @if (!DeviceTypeIsMobile)  /// === this variable used to check user device type  =
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="Competency Assessment Approval Request" href="#div-skillAssessment-request">
                                <span id="skillCount" class="badge badge-teal p-1">0</span> <br /> Competency
                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="Appraisal Approval Request" href="#div-appraisal-request">
                                <span id="appraisalApprovalReqCount" class="badge badge-teal p-1">0</span> <br /> Appraisal

                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="Confirmation Approval Request" href="#div-confirmation-request">
                                <span id="confirmationApprovalReqCount" class="badge badge-teal p-1">0</span> <br /> Confirmation

                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="LTC Approval Request" href="#div-LTC-request">
                                <span id="ltcApprovalReqCount" class="badge badge-teal p-1">0</span> <br /> LTC
                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="Loan Applications" href="#TabLoan">
                                <span id="loanApprovalReqCount" class="badge badge-teal p-1">0</span> <br />
                                <span class="text-nowrap">Loan Sanction </span>
                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="OTA Applications" href="#TabOTA">
                                <span id="otaReqCount" class="badge badge-teal p-1">0</span> <br /> OTA
                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="EPF Nominee Applications" href="#TabEPF">
                                <span id="epfReqCount" class="badge badge-teal p-1">0</span> <br />
                                <span class="text-nowrap"> EPF Nominee </span>
                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="Conveyance Bill Approval Request" href="#div-ConveyanceBill-request">
                                <span id="conveyanceApprovalReqCount" class="badge badge-teal p-1">0</span> <br />
                                <span class="text-nowrap">Conveyance</span>
                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="Non Refundable PF Approval Request" href="#div-NRPFLoanRequest">
                                <span id="NRPFLoanApprovalReqCount" class="badge badge-teal p-1">0</span>
                                <br />
                                <span class="text-nowrap">Non Refundable PF </span>
                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="Training Approval Request" href="#div-TrainingRequest">
                                <span id="TrainingApprovalReqCount" class="badge badge-teal p-1">0</span>
                                <br />
                                <span class="text-nowrap">Training </span>
                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="Form 11" href="#div-Form11Request">
                                <span id="form11ApprovalReqCount" class="badge badge-teal p-1">0</span>
                                <br />
                                <span class="text-nowrap">Form11 </span>
                            </a>
                        </li>

                        <li class="nav-item " role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="Clearance Approval Request"  href="#div-clearance">
                                

                                    <span id="clearanceCount" class="badge badge-teal p-1">0</span> <br />
                                    Separation
                                </a>

</li>
                    }
                    else
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link toggle-tooltip" data-toggle="tab" role="tab" title="Conveyance Bill Approval Request" href="#div-ConveyanceBill-request">
                                <span id="conveyanceApprovalReqCount" class="badge badge-teal p-1">0</span> <br />
                                <span class="text-nowrap">Conveyance</span>

                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <!-- Tab panes -->
        <div class="tab-content tabs p-0">

            <div id="div-attendance" class="container tab-pane active fullwidth-container">

                @using (Ajax.BeginForm("_GetAttendanceApprovalRequest", "ApprovalRequest", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-attendanceRequest" }))
            {
                    @Html.Partial("_SearchFilter")

                    <div id="div-attendanceRequest" class="mt-2">

                        @Html.Action("_GetAttendanceApprovalRequest", "ApprovalRequest")
                    </div>
                }
            </div>

            <div id="div-leave" class="container tab-pane fade fullwidth-container">

                @using (Ajax.BeginForm("_GetLeaveApprovalRequest", "ApprovalRequest", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-leaveRequest" }))
            {
                    @Html.Partial("_SearchFilter")

                    <div id="div-leaveRequest" class="mt-2">

                        @Html.Action("_GetLeaveApprovalRequest", "ApprovalRequest")
                    </div>
                }
            </div>

            @if (!DeviceTypeIsMobile)
            {

                <div id="div-skillAssessment-request" class="container tab-pane fade fullwidth-container">

                    <div id="div-SkillAssessmentRequest" class="mt-2">

                        @Html.Action("_SkillAssessmentApprovalTab", "ApprovalRequest")

                    </div>
                </div>

                <div id="div-appraisal-request" class="container tab-pane fade fullwidth-container">

                    <div id="div-AppraisalRequest" class="mt-2">

                        @Html.Action("_AppraisalApprovalTab", "ApprovalRequest")

                    </div>
                </div>

                <div id="div-confirmation-request" class="container tab-pane fade fullwidth-container">

                    <div id="div-Confirmationrequest" class="mt-2">

                        @Html.Action("_ConfirmationApprovalTab", "ApprovalRequest")

                    </div>
                </div>

                <div id="div-LTC-request" class="container tab-pane fade fullwidth-container">

                    @using (Ajax.BeginForm("_GetAttendanceApprovalRequest", "ApprovalRequest", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-ltc-request" }))
                {
                        @Html.Partial("_LTCFilter")

                        <div id="div-ltc-request" class="mt-2">

                            @Html.Action("_GetLTCApprovalRequest", "ApprovalRequest")
                        </div>
                    }

                </div>

                <div id="TabLoan" class="container tab-pane fade fullwidth-container">

                    <div id="div-loan-request" class="mt-2">

                        @Html.Action("GetLoanApplicationPendingList", "ApprovalRequest")
                    </div>


                </div>

                <div id="TabOTA" class="container tab-pane fade fullwidth-container">
                    @using (Ajax.BeginForm("GetOTAPendingList", "ApprovalRequest", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-ota-request" }))
                {
                        @Html.Partial("_OTAFilter")
                        <div id="div-ota-request" class="mt-2">

                            @Html.Action("GetOTAPendingList", "ApprovalRequest")
                        </div>
                    }

                </div>

                <div id="TabEPF" class="container tab-pane fade fullwidth-container">
                    @using (Ajax.BeginForm("GetEPFPendingList", "ApprovalRequest", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-epf-request" }))
                {
                        @Html.Partial("_EPFFilter")
                        <div id="div-epf-request" class="mt-2">

                            @Html.Action("GetEPFPendingList", "ApprovalRequest")
                        </div>
                    }

                </div>

                <div id="div-ConveyanceBill-request" class="container tab-pane fade fullwidth-container">
                    <div id="div-ConveyanceBill" class="mt-2">
                        @Html.Action("_ConveyanceApprovalTab", "ApprovalRequest")
                    </div>
                </div>

                <div id="div-NRPFLoanRequest" class="container tab-pane fade fullwidth-container">

                    <div id="div-NRPFLoan-Request" class="mt-2">

                        @Html.Action("_NRPFLoanTab", "ApprovalRequest")

                    </div>
                </div>

                <div id="div-TrainingRequest" class="container tab-pane fade fullwidth-container">
                    @using (Ajax.BeginForm("_GetTrainingApprovalRequest", "ApprovalRequest", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-Training-Request" }))
                {
                        @Html.Partial("_SearchFilter")
                        <div id="div-Training-Request" class="mt-2">
                            @Html.Action("_GetTrainingApprovalRequest", "ApprovalRequest")
                        </div>
                    }
                </div>

                <div id="div-Form11Request" class="container tab-pane fade fullwidth-container">

                    <div id="div-Form11-Request" class="mt-2">

                        @Html.Action("_Form11Tab", "ApprovalRequest")

                    </div>
                </div>

                <div id="div-clearance" class="container tab-pane fade fullwidth-container">
                    <div id="div-clearanceRequest" class="mt-2">
                        @Html.Action("_GetClearnceApprovalRequest", "ApprovalRequest")
                    </div>

                </div>

            }
            else
            {
                <div id="div-ConveyanceBill-request" class="container tab-pane fade fullwidth-container">
                    <div id="div-ConveyanceBill" class="mt-2">
                        @Html.Action("_ConveyanceApprovalTab", "ApprovalRequest")
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal" id="div-attendanc-approval-popup">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title required">Remark</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="div-approvalPopup">


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>

<div class="modal" id="div-leave-approval-popup">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title required">Remark</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="div-approvalLeavePopup">


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>

<div class="modal" id="div-training-approval-popup">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Remark</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="div-appTrainingPopup">


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>

<div class="modal" id="div-clearance-approval-popup">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title required">Remark</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="div-clearanceapprovalPopup">


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>