@model MicroPay.Web.Models.BranchViewModel

<table id="tblUser" class="table table-centered table-striped dt-responsive w-100">
    <thead>
        <tr>
            <th>
                Branch Code
            </th>
            <th>
                Branch Name
            </th>
            <th>
                Email Address
            </th>
            <th>
                Address
            </th>
            <th>
                Region
            </th>
            <th class="text-center" style="width:60px">
                Edit
            </th>
            <th class="text-center" style="width:60px">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.branchList.Count > 0)
            {
                foreach (var item in Model.branchList)
                {
                <tr>
                    <td> @item.BranchCode</td>
                    <td> @item.BranchName</td>
                    <td> @item.EmailId</td>
                    <td> @item.Address1</td>
                    <td> @item.Region</td>
                    <td class="text-center">
                        @*<a href="@Url.Action("Edit","Branch",new { branchID = @item.BranchID })" title="Click here, to edit this record">
                <span class="fa fa-paperclip fa-2x" aria-hidden="true"></span>
            </a>*@
                        @Html.EncodedImageActionLink("", "Edit", "Branch", new { branchID = @item.BranchID }, new { @class = "toggle-tooltip", title = "Click here, to edit this record" }, "~/Images/edit.png")

                    </td>
                    <td class="text-center">
                        @*<a data-toggle="confirm" class="toggle-tooltip" href="@Url.Action("Delete","Branch",new { branchID = @item.BranchID })" title="Click here, to delete this record">
                <span class="far fa-trash-alt text-danger" aria-hidden="true"></span>
            </a>*@
                        @Html.EncodedImageActionLink("", "Delete", "Branch", new { branchID = @item.BranchID }, new { @class = "toggle-tooltip", title = "Click here, to delete this record" }, "~/Images/delete.png", true)
                    </td>
                </tr>
                }
            }

        }

    </tbody>
</table>
