@model MicroPay.Web.Models.LTCViewModel
@using Nafed.MicroPay.Model;

<table id="tblGrid" class="table table-centered table-striped dt-responsive w-100">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                LTC No.
            </th>
            <th class="text-center">
                Employee Code
            </th>
            <th>
                Employee Name
            </th>
            <th class="text-center">
                Date of Application
            </th>
            <th class="text-center">
                Date of Return
            </th>
            <th class="text-center">
                Status
            </th>
            <th class="text-center" style="width:60px">
                View
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
            if (Model != null && Model.LTCList.Count > 0)
            {
                foreach (var item in Model.LTCList)
                {
                    <tr>
                        <td> @index</td>
                        <td> @item.LTCNo</td>
                        <td class="text-center"> @item.Employeecode</td>
                        <td> @item.Employeename</td>
                        <td class="text-center">@Convert.ToDateTime(item.DateofApplication).ToString("dd-MM-yyyy")</td>
                        <td class="text-center">@Convert.ToDateTime(item.DateofReturn).ToString("dd-MM-yyyy")</td>

                        <td class="text-center">
                            @if (item.FormStatus == (int)AppraisalFormState.SavedByEmployee)
                            {
                                <h5>
                                    <span class="badge badge-pill badge-light col-md-12">
                                        Save
                                    </span>
                                </h5>
                            }
                            else if (item.FormStatus == (int)AppraisalFormState.SubmitedByEmployee)
                            {
                                <h5>
                                    <span class="badge badge-pill badge-dark col-md-12">
                                        Submitted
                                    </span>
                                </h5>
                            }
                            else if (item.FormStatus == (int)AppraisalFormState.SavedByReporting)
                            {
                                <h5>
                                    <span class="badge badge-pill badge-dark col-md-12">
                                        Saved by Reporting Officer
                                    </span>
                                </h5>
                            }
                            else if (item.FormStatus == (int)AppraisalFormState.SubmitedByReporting)
                            {
                                <h5>
                                    <span class="badge badge-pill bg-teal col-md-12">
                                        Reviewed by Reporting Officer
                                    </span>
                                </h5>
                            }
                            else if (item.FormStatus == (int)AppraisalFormState.SavedByReviewer)
                            {
                                <h5>
                                    <span class="badge badge-pill badge-dark col-md-12">
                                        Saved by Reviewer Officer
                                    </span>
                                </h5>
                            }
                            else if (item.FormStatus == (int)AppraisalFormState.SubmitedByReviewer)
                            {
                                <h5>
                                    <span class="badge badge-pill badge-info col-md-12">
                                        Reviewed by Reviewer Officer
                                    </span>
                                </h5>
                            }
                            else if (item.FormStatus == (int)AppraisalFormState.SubmitedByAcceptanceAuth)
                            {
                                <h5>
                                    <span class="badge badge-pill badge-success col-md-12">
                                        Accepted by Accepting Authority
                                    </span>
                                </h5>
                            }
                        </td>

                        <td class="text-center">
                            @if (item.FormStatus == (int)AppraisalFormState.SubmitedByAcceptanceAuth)
                            {
                                if (item.LTCRefrenceNumber != null)
                                {
                                    @*<a href="@Url.Action("View", "LTC", new { LTCID = item.LTCID, reportingTo = item.approvalSetting == null ? 0 : item.approvalSetting.ReportingTo, reviewingTo = item.approvalSetting == null ? 0 : item.approvalSetting.ReviewingTo, acceptanceAuthority = item.approvalSetting == null ? 0 : item.approvalSetting.AcceptanceAuthority, empID = item.EmployeeId })" title="Click here, to edit this record" data-toggle="tooltip">
                                        <span class="far fa-eye text-info" aria-hidden="true"></span>
                                    </a>*@
                                    @Html.EncodedImageActionLink("", "View", "LTC", new { LTCID = item.LTCID, reportingTo = item.approvalSetting == null ? 0 : item.approvalSetting.ReportingTo, reviewingTo = item.approvalSetting == null ? 0 : item.approvalSetting.ReviewingTo, acceptanceAuthority = item.approvalSetting == null ? 0 : item.approvalSetting.AcceptanceAuthority, empID = item.EmployeeId }, new { @class = "toggle-tooltip", title = "Click here, to view this record" }, "~/Images/view.png")
                                }
                                else
                                {
                                    <a data-ajax="true" class="toggle-tooltip"
                                       href="@Url.Action("_GETLTCReferenceNumber", "LTC", new { LTCID = item.LTCID, reportingTo = item.approvalSetting == null ? 0 : item.approvalSetting.ReportingTo, reviewingTo = item.approvalSetting == null ? 0 : item.approvalSetting.ReviewingTo, acceptanceAuthority = item.approvalSetting == null ? 0 : item.approvalSetting.AcceptanceAuthority, empID = item.EmployeeId })"
                                       method="GET" title="Click here, to enter ltc referenece number"
                                       data-ajax-update="#div-LTCReferenceModal-container" data-ajax-mode="replace"
                                       data-backdrop="static" data-keyboard="false"
                                       id="ReferenceModal" data-toggle="modal" data-target="#LTCReferenceModal">
                                        <span class="far fa-eye text-info" aria-hidden="true"></span>
                                    </a>
                                }
                            }
                        </td>

                    </tr>
                    index++;
                }
            }

        }

    </tbody>
</table>


<div class="modal" id="LTCReferenceModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="PersonalSectionHead">LTC Reference Number</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            @using (Ajax.BeginForm("PostLTCReferenceNumber", "LTC", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }, new { id = "" }))
            {
                <div class="modal-body" id="div-LTCReferenceModal-container">

                </div>

            <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" value="Save" id="btnSave" name="ButtonType" class="btn btn-info btn-md toggle-tooltip" title="Click here, to save the data." />
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function OnSuccess(data) {
        if (data.msgType != "required") {
            $("#LTCReferenceModal").modal('hide');
            if (data.htmlData != "") {
                $("#div-LTCStatus-form-container").html("").html(data.htmlData);
                window.location.href = "@Url.Action("View", "LTC")?LTCID=" + data.LTCID + "&reportingTo=" + data.reportingTo + "&reviewingTo=" + data.reviewingTo + "&acceptanceAuthority=" + data.acceptanceAuthority + "&empID=" + data.empID
            }
        }
        else {
            $("#LTCReferenceModal").modal('show');
            $("#div-LTCReferenceModal-container").html("").html(data.htmlData);
        }
    }
</script>