@model MicroPay.Web.Models.ProjectedIncrementViewModel
<div style="margin-left:100px;">
    <fieldset class="border p-2 col-md-12 col-xs-12 col-lg-12 col-xl-12">
        <legend class="w-auto">Stop Search</legend>
        @if (Model.OnlyStopped)
        {
            @Html.CheckBox("OnlyStopped", new { @class = "", @checked = true, onChange = "StopIncrementDetails()" })
            @Html.LabelFor(m => m.OnlyStopped, new { @class = "label" })
        }
        else
        {
            @Html.CheckBox("OnlyStopped", new { @class = "", onChange = "StopIncrementDetails()" })
            @Html.LabelFor(m => m.OnlyStopped, new { @class = "label" })
        }
    </fieldset>

    <fieldset class="border p-2 col-md-12 col-xs-12 col-lg-12 col-xl-12">
        <legend class="w-auto">Increment Month</legend>
        @if (Model.January)
        {
            @Html.CheckBox("January", new { @class = "", @checked = true, onChange = "StopIncrementDetails()" })
            @Html.LabelFor(m => m.January, new { @class = "label" })
        }
        else
        {
            @Html.CheckBox("January", new { @class = "", onChange = "StopIncrementDetails()" })
            @Html.LabelFor(m => m.January, new { @class = "label" })
        }
        @if (Model.July)
        {
            @Html.CheckBox("July", new { @class = "", @checked = true, onChange = "StopIncrementDetails()" })
            @Html.LabelFor(m => m.July, new { @class = "label" })
        }
        else
        {
            @Html.CheckBox("July", new { @class = "", onChange = "StopIncrementDetails()" })
            @Html.LabelFor(m => m.July, new { @class = "label" })
        }

    </fieldset>
    <br />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input type="submit" value="Update" id="btnUpdateStop" name="Validate" class="btn btn-info toggle-tooltip " title="Click here, to update the stop increment." />
    </div>

</div>
