@model MicroPay.Web.Models.SalaryHeadViewModel

<table id="tblGrid" class="table table-centered table-striped dt-responsive w-100">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Head
            </th>
            <th class="text-right">
                Lower
            </th>
            <th class="text-right">
                Upper
            </th>
            <th class="text-right">
                Amount
            </th>
            <th class="text-center" style="width:60px">
                Action
            </th>
          
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && (Model.salarySlabList != null && Model.salarySlabList.Count > 0))
            {
                var sno = 1;
                foreach (var item in Model.salarySlabList)
                {
                    <tr>
                        <td> @sno</td>

                        <td> @item.FieldName</td>
                        <td class="text-right">@string.Format("{0:F2}", @item.LowerRange)</td>
                        <td class="text-right">@string.Format("{0:F2}", @item.UpperRange)</td>
                        <td class="text-right"> @string.Format("{0:F2}", @item.Amount)</td>
                        <td class="text-center">
                        @if (Model.userRights.Edit)
                        {
                            
                                <a data-ajax="true" class="label-info pull-center toggle-tooltip"
                                   href="@Url.Action("_GetSalaryHeadSlabConfig", "SalaryHeadSlabConfig", new { slabID = item.SlabID })"
                                   method="GET" title="Click here, to edit this record"
                                   data-ajax-update="#div-salHead" data-ajax-mode="replace"
                                   data-backdrop="static" data-keyboard="false"
                                   data-toggle="modal" data-target="#SalaryHeadSlabModal">
                                    <span class="far fa-edit text-info" aria-hidden="true"></span>
                                </a>                          
                        } | 
                        @if (Model.userRights.Delete)
                        {
                            
                                <a @*data-toggle="firm"*@ data-ajax-confirm="Are you sure, you want to delete this record ?." class="toggle-tooltip" href="@Url.Action("Delete", "SalaryHeadSlabConfig", new { slabID = item.SlabID,fieldName=item.FieldName })"
                                title="Click here, to delete this record" data-ajax-update="#divSalaryHead" data-ajax-success="onDeleted"
                                data-ajax-mode="replace" data-ajax="true" >
                                <span class="far fa-trash-alt text-danger"  aria-hidden="true"></span>
                                </a>                           
                        }
                        </td>

                    </tr>
                    sno++;
                }
            }
        }

    </tbody>
</table>



<script src="~/Scripts/popper.min.js"></script>
<script>
    $('.toggle-tooltip').tooltip();
    ///==== Adding jquery datatable reference to all master grid ===
    //var table = $('#tblGrid').DataTable({
    //});
    //$('#tblGrid_length').find('select').addClass('custom-select');
    //========= End==================================================


    function onDeleted(data)
    {
        debugger;
        if (data.status)
        {
            $("#divSalaryHead").load("/SalaryHeadSlabConfig/_GetSalHeadSlabConfigGridView/fieldName=" + data.fieldName);
            commonmsg(data.type, data.msg);
        }
    }
</script>